<div class="sidebar-section">
    <ul>
        <li>
            <span>
                <i class="fa fa-regular fa-user"></i>
            </span>
            <span>Profile</span>
        </li>
        <li>
            <span>
                <i class="fa fa-solid fa-desktop"></i>
            </span>
            <span>Dashboard</span>
        </li>
        <li>
            <span>
                <i class="fa fa-solid fa-address-card"></i>
            </span>
            <span>Admin</span>
        </li>
        <li>
            <span>
                <i class="fa fa-solid fa-user-plus"></i>
            </span>
            <span>Sign Up</span>
        </li>
    </ul>
</div>